<?xml version='1.0' encoding='utf-8'?>
<widget id="citization.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>citization</name>
    <description>
        A sample app to register citizens
    </description>
    <author email="beautymalingamoyo@gmail.com" href="">
        beauty malingamoyo
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <!-- Sets android targets -->
        <preference name="android-targetSdkVersion" value="31" />
        <preference name="android-minSdkVersion" value="30" />
    </platform>
</widget>
